node_modules
.next
Thumbs.db
/gui/public
/logo/build/build.js
/logo/dist/*.js
/logo/dist/*.d.ts
/logo/dist/logo.svg
/package/dist

# Package Manager Locks - Since some people use different package managers from each other, they may go out of sync if we commit them
package-lock.json
yarn.lock
pnpm-lock.yaml
