node_modules
.next
Thumbs.db
/gui/server/generated/
/gui/server/dist
/gui/web/.next
/gui/common-browser/public
/gui/web/public
/gui/electron/app
/gui/electron/dist
/gui/electron/renderer/public
/logo/build/build.js
/logo/dist/*.js
/logo/dist/*.d.ts
/logo/dist/logo.svg
/package/dist