html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

body>nav, #alerts {
    flex: 0 1 auto;
}

#alerts * {
    margin: 0;
}

#local-storage__no-save-selected__pointer {
    cursor: pointer;
}

#content {
    flex: 1 1 auto;
}

#content__grid {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

#preview {
    grid-column: 1 / span 1;
}

.hidden {
    display: none;
}

#preview__container {
    background-color: black;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

#preview__canvas-container, #preview__errors {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#preview__canvas{
    position: absolute;
    left: auto;
    right: auto;
}

#preview__errors {
    color: red;
    overflow: auto;
}

#json {
    grid-column: 2 / span 1;
    margin: 0;
    display: flex;
    flex-flow: column;
}

#json__save {
    flex: 0 1 auto;
}

#local-storage__modal {
    max-height: 400px;
    overflow: auto;
}

#local-storage__table__body .save-icon, #local-storage__table__body .load-icon, #local-storage__table__body .delete-icon {
    cursor: pointer;
}

#local-storage__form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#local-storage__form__label {
    grid-column: 1 / span 2;
}

#json__editor {
    flex: 1 1 auto;
}