html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

body>nav {
    flex: 0 1 auto;
}

#content {
    flex: 1 1 auto;
}

#content__grid {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

#json {
    grid-column: 2 / span 1;
    margin: 0;
    display: flex;
    flex-flow: column;
}

#json__save {
    flex: 0 1 auto;
}

#json__editor {
    flex: 1 1 auto;
}